
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color1{
    color: rgb(250, 184, 3);
}
h1{
    font-size: 50ox;
}

.side1{
    width: 50%;
    margin-top: 0px;
    padding-left: 40px ;
    padding-top: 55px;
}
.side1 img{
    width: 100%;
    
    
}
.button{
    padding-top: 20px;
    padding-left: 40px;
}
.READ{
    
    background-image: linear-gradient(red,#fa4802de);
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(223, 231, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}

.side1{
    text-align: center;
}

.section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.black{
    text-align: center;
}
.section2{
    display: flex;
    margin-top: 200px;
    
}
.vigita{
    text-align: center;
}
.color2{
    color: rgb(238, 196, 10);
}