
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color1{
    color: rgb(250, 184, 3);
}
h1{
    font-size: 50ox;
}

.side1{
    width: 50%;
    margin-top: 0px;
    padding-left: 40px ;
    padding-top: 55px;
}
.side1 img{
    width: 100%;
    
    
}
.button{
    padding-top: 20px;
    margin-top: 10px;
}
.READ{
    
    background-image: linear-gradient(#ff9966 ,#ff5e62 );
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}

.side1{
    text-align: center;
}

.section{
    display: flex;

}

.section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.section2{
    display: flex;
    margin-top: 200px;
    
}
.vigita{
    text-align: center;
    margin-top: 50px;
    padding-right: 25px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.color2{
    color: rgb(238, 196, 10);
    
}

.image{
    margin-left: 50px;
    margin-top: 50px;
}

.buy{
    background-image: linear-gradient(#791b8b,#1ac4bb);
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}
.section3{
    display: flex;
    margin-top: 200px;

}

.more{
    background-image: linear-gradient(#1bc4e2 ,#f71b1f );
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}


.goku{
    text-align: center;
    margin-top: 50px;
    padding-left: 20px;
    
}

.color3{
    color: gold;
}
.flex{
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
 
    
}

.story{
    
    margin-left: 40px;
    margin-right: 40px;
    box-shadow:gray 10px 10px 10px 10px;
    border-radius: 10px;
}

.color4{
    color: rgb(255, 174, 0);
    
    
}

.section4{
    margin-top: 200px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.border1{
    border-image:linear-gradient(#ff9966 ,#ff5e62) ;
    border-image-slice: 1; 
    border-left: solid 7px;
}
.border2{
    border-image:linear-gradient(blue, cyan) ;
    border-image-slice: 1; 
    border-left: solid 7px;
}
footer{
    padding-top: 200px;
    text-align: center;
}