
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color1{
    color: rgb(250, 184, 3);
}
h1{
    font-size: 50ox;
}

.side1{
    width: 50%;
    margin-top: 0px;
    padding-left: 40px ;
    padding-top: 55px;
}
.side1 img{
    width: 100%;
    
    
}
.button{
    padding-top: 20px;
    margin-top: 10px;
}
.READ{
    
    background-image: linear-gradient(#ff9966 ,#ff5e62 );
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}

.side1{
    text-align: center;
}

.section{
    display: flex;

}

.section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.section2{
    display: flex;
    margin-top: 200px;
    
}
.vigita{
    text-align: center;
    margin-top: 50px;

}
.color2{
    color: rgb(238, 196, 10);
}

.image{
    margin-left: 50px;
    margin-top: 50px;
}

.buy{
    background-image: linear-gradient(#cc2b5e,#753a88);
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}
.section3{
    display: flex;
    margin-top: 200px;

}

.more{
    background-image: linear-gradient(#ff9966 ,#ff5e62 );
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 253, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
}


.goku{
    text-align: center;
    margin-top: 50px;
    
}